<header class="ampize-header fixed flex justify-between">
    <div class="ampize-nav-left flex">
        <a href="{{g.doc('/content/home/home.html', locale=doc.locale).url.path}}" class="ampize-menu-logo">
            <svg width="130px" height="100%" viewBox="3 -8 275 63" version="1.1" xmlns="http:/www.w3.org/2000/svg" xmlns:xlink="http:/www.w3.org/1999/xlink">
                <text stroke="none" fill="none" font-size="52.4903461" font-weight="bold">
                    <tspan x="3.03326649" y="43.12557" fill="#EF5425">AMP</tspan>
                    <tspan x="115.858894" y="43.12557" fill="#F5B718">ize</tspan>
                    <tspan x="180.011342" y="43.12557" fill="#329F92">.me</tspan>
                </text>
            </svg>
        </a>
        <div role="button" on="tap:ampize-menu-sidebar.toggle" tabindex="0" class="ampize-sidebar-trigger md-hide lg-hide pl1">☰</div>
        <div class="ampize-menu-tabs flex justify-center xs-hide sm-hide">
            {% for entry in menu %}
            <div class="flex ampize-menu-tab {% if doc.url.path.find(entry.base) != -1 %}active{% endif %}">
                {% if entry.href %}
                <a href="{{entry.href}}">{{_(entry.get('copy'))}}</a>
                {% else %}
                <a href="#">{{_(entry.get('copy'))}}</a>
                {% endif %}
                {% if entry.children %}
                <div class="ampize-menu-tab-list">
                    <div class="ampize-menu-tab-list-shadow"></div>
                    <ul>
                        {% for subEntry in entry.children %} {% if subEntry.href %}
                        <li><a href="{{subEntry.href}}">{{_(subEntry.get('copy'))}}</a></li>
                        {% endif %} {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</header>
<amp-sidebar id="ampize-menu-sidebar" side="right" layout="nodisplay">
    <form action="/" target="_top" novalidate class="ampize-menu-sidebar-layer">
        <div role="button" on="tap:ampize-menu-sidebar.toggle" tabindex="0" class="ampize-menu-sidebar-close">✕</div>
        <div class="ampize-menu-sidebar-items">
            <a href="{{g.doc('/content/home/home.html', locale=doc.locale).url.path}}" class="ampize-menu-sidebar-item  active ">Home</a>
            {% for entry in menu %}
                {% if entry.children %}
                    <label class="ampize-menu-sidebar-item has-children">
                        <input type="checkbox">{{_(entry.get('copy'))}}
                        <span class="ampize-menu-sidebar-item-expand"> > </span>
                        <div class="ampize-menu-sidebar-submenu">
                            <div class="ampize-menu-sidebar-submenu-return">< Back</div>
                            <div class="ampize-menu-sidebar-submenu-items">
                            {% for subEntry in entry.children %} {% if subEntry.href %}
                                <a class="ampize-menu-sidebar-item ampize-menu-sidebar-submenu-item" href="{{subEntry.href}}"><strong>{{_(subEntry.get('copy'))}}</strong></a>
                            {% endif %} {% endfor %}
                            </div>
                        </div>
                    </label>
                {% else %}
                    <a class="ampize-menu-sidebar-item " href="{{entry.href}}">{{_(entry.get('copy'))}}</a>
                {% endif %}
            {% endfor %}
        </div>
    </form>
</amp-sidebar>

<main id="content" role="main" class="">
