<h1 class="{% if data.titleclass %}{{data.titleclass}}{% endif %}">{{data.title}}</h1>
{% if data.content %}
<p class="intro">{{_(data.content)}}</p>
{% endif %}
{% if data.cta or data.cta2%}
<div class="flex mx-auto center">
    {% if data.cta2 %}
    <a class="ampstart-btn-secondary mr4" href="{{g.doc(data.cta2_url, locale=doc.locale).url.path}}">
      {{_(data.cta2)}}
    </a>
    {% endif %}
    {% if data.cta %}
    <div class="white">
        <a class="ampstart-btn right" href="{{g.doc(data.cta_url, locale=doc.locale).url.path}}">{{_(data.cta)}}</a>
    </div>
    {% endif %}
</div>
{% endif %}
