{% extends "/views/base.html" %}
{% block main %}
  <main>
        <div class="clearfix">
          <div class="col col-2 xs-hide sm-hide relative">
              <ul class="list-reset m2 pt2 pb2 px1 caps">
                  {% set pages = g.docs(doc.collection.pod_path) %}
                  {% for page in pages %}
                     <li class="clearfix mb3 {% if doc.url.path == page.url.path %}current{% endif %}"><a href="{{page.url.path}}" class="text-decoration-none left" role="option" aria-selected="true" tabindex="0">{{page.title}}</a></li>
                  {% endfor %}
              </ul>
         </div>
         <div class="col xs-col-10 sm-col-10 md-col-10">
            <p class="caps m4">{% if doc.collection.index_path %}<a href="{{ doc.collection.index_path }}">{{ doc.collection.parent.title }}</a> > {% endif %}{{ doc.collection.title }}</p>
            <article class="ml4 mr4">

                 <h1 class="blue">{{ doc.title }}</h1>

                  <div class="post-content mt2">
                    {{doc.html|safe}}
                  </div>

            </article>
        </div>
    </div>
</main>
  <div class="doc-footer">
    {% include "/views/partials/footer.html" %}
  </div>
{% endblock %}
